/*****************/
/* WEBSITE FONTS */
/*****************/

@font-face {
    font-family: 'chunkfive_printregular';
    src: url('/assets/fonts/Chunkfive/chunkfive_print_400-webfont.woff2') format('woff2'),
        url('/assets/fonts/Chunkfive/chunkfive_print_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Note voor mijzelf: Gebruik die twee als font in de pagina */
/* font-family: 'proxima-nova', 'sans-serif'; */
/* font-family: 'chunkfive_printregular', 'sans-serif'; */
/* font-family: 'Annie Use Your Telescope', cursive; */

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* kleuren */
    --titel-black-color: #191919;
    --p-black-color: #191919;
    --footer-black-color: #191919;
    --laatbezorgen-text-white-color: var(--white-text-color);
    --sticky-header-blue-color: #003e55;
    --laatbezorgen-knop-black-color: #2c2a29;
    --white-titel-color: #ffffff;
    --white-text-color: #ffffff;
    --box-button-color: #ffffff;
    --form-color: #ffffff;
    --yellow-color: #ffb915;
    --yellow-transparent-color: #ffb915e1;
    --link-color: #0475a1;
    --blue-link-color: var(--link-color);
    --hover-link-color: #ffb915;
    --footer-green-color: #3a780e;
    --website-background-color: linear-gradient(180deg, rgba(87, 161, 205, 1) 0%, rgba(212, 227, 239, 1) 100%);
}

/* https://css-tricks.com/dark-modes-with-css/ */
@media (prefers-color-scheme: dark) {
    :root {
        --titel-black-color: #000000;
        --p-black-color: #ffffff;
        --footer-black-color: #191919;
        --laatbezorgen-text-white-color: var(--white-text-color);
        --sticky-header-blue-color: #003e55;
        --laatbezorgen-knop-black-color: #2c2a29;
        --white-titel-color: #ffffff;
        --white-text-color: #ffffff;
        --box-button-color: #005473;
        --tweede-box-color: #003245;
        --form-color: #ffffff;
        --yellow-color: #ffb915;
        --yellow-transparent-color: #ffb915e1;
        --link-color: #f8f8f8;
        --hover-link-color: #ffb300ef;
        --footer-green-color: #275d00;
        --blue-link-color: var(--box-button-color);

        --website-background-color: linear-gradient(180deg, rgb(197, 216, 231) 0%, rgb(95, 139, 164) 100%);
    }

    main section:nth-of-type(2) {
        filter: brightness(80%);
    }

    main section:nth-of-type(5) {
        filter: brightness(90%);
    }

    main > section:nth-of-type(5) {
        filter: brightness(80%);
    }
}

:focus {
    background-color: var(--yellow-color);
    color: var(--white-titel-color);
    outline: none;
    border-radius: 0.2em;
}

::selection {
    background: #ed9237;
    color: #000;
    text-shadow: none;
}

/*********************/
/* ALLES INDIVIDUEEL */
/*********************/

/* ALLES */

* {
    /* Font van alle elementen */
    font-family: 'proxima-nova', 'sans-serif';
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background-image: var(--website-background-color);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    /* position: relative; */
}

main {
    margin: 0;
    padding: 0;
    position: relative;
}

/* LINKS */
a {
    text-decoration: none;
    appearance: none;
    font-family: inherit;
}

/* hover voor alle linken */
a:hover {
    color: var(--yellow-color);
}

a:active {
    color: var(--yellow-transparent-color);
}

li {
    /* Om punten weg te halen */
    list-style: none;
}

/* BUTTON */
button {
    appearance: none;
    font-family: inherit;
}

/* HEADER */

header {
    /* background kleur */
    background-color: var(--sticky-header-blue-color);
    /* om header sticky te maken */
    position: sticky;
    /* voor Safari */
    position: -webkit-sticky;
    /* waar wil ik het stickky maken */
    top: 0;

    /* flex maken zodat de elementen naast elkaar nog beter kunnen staan */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    /* elementen toestemming geven om een andere rij te staan */
    /* hulp gekregen van Sanne */
    flex-wrap: wrap;

    /* om header helemaal voor halen */
    z-index: 11;
}

/* alle linken in header */
header a {
    text-decoration: none;
    font-family: 'proxima-nova', 'sans-serif';
}

/* "laat ben en jerry's..." tekst goede plek zetten START */
header > p {
    order: -2;
    background-color: var(--laatbezorgen-knop-black-color);
    color: var(--laatbezorgen-text-white-color);
    width: 100%;
    margin: 0;
    padding-top: 0.02em;
    padding-bottom: 0.02em;
    text-align: center;
    font-family: 'proxima-nova', 'sans-serif';
}

header > p a {
    color: var(--laatbezorgen-text-white-color);
}
/* "laat ben en jerry's..." tekst goede plek zetten END */

/* MAIN */

/* H1 weg maken */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* styling alle sections */
section {
    position: relative;
    text-align: center;
    color: var(--p-black-color);
    margin: 0;
    padding: 0;
    /* om section elementen onder de header te zetten */
}

/* alle h1 en h2 titels in het sections */
section h1,
h2 {
    font-family: 'chunkfive_printregular', 'sans-serif';
}

/* COOKIE-INSTELLINGEN */
main > button {
    background-image: url(/images/oneTrustLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    z-index: 100000;
    border: none;
    min-height: 4em;
    min-width: 4em;

    position: fixed;
    bottom: 3em;
    left: 1.5%;
}

main > button:focus {
    background-color: transparent;
}

/**************************/
/* KLEIN EN MIDDEL SCHERM */
/**************************/

@media (min-width: 1em) {
    /* HEADER */

    /* Logo part START */
    header > a:nth-of-type(1) {
        margin-right: auto;
        order: -1;
    }

    header > a:nth-of-type(1) img {
        height: auto;
        width: 30vw;
    }
    /* Logo part END */

    /* hamburger menu inside styling START */
    header nav ul li {
        list-style: none;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
    }

    header nav ul li a {
        font-family: 'chunkfive_printregular', 'sans-serif';
        margin-bottom: 1em;
        font-size: 1.5em;
        flex-wrap: nowrap;
        text-align: center;
        color: var(--white-titel-color);
    }

    header nav ul li:nth-of-type(1) a {
        margin-top: 7em;
    }

    header nav ul li:nth-of-type(6) form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }

    header nav ul li:nth-of-type(6) form button {
        background-color: var(--white-titel-color);
        width: 3em;
        height: 2.25em;
    }

    header nav ul li:nth-of-type(6) form input {
        width: 10em;
        height: 2.5em;
    }

    header nav ul li:nth-of-type(6) form button::after {
        content: 'Zoek';
    }

    header nav ul li:nth-of-type(6) form button:hover {
        background-color: var(--yellow-color);
    }
    /* hamburger menu inside styling END */

    /* hamburger menu knop styling START */

    /* Om hamburger menu te openen */
    /* Hulp gekregen van Sanne */
    nav {
        position: fixed;
        inset: 0;
        background-color: var(--blue-link-color);
        transform: translateY(-100%);
        transition: 0.5s;
    }

    header.menuOpen nav {
        transform: translateY(0);
    }
    /* tot hier */

    header button {
        display: grid;
        place-items: center;
        background-color: transparent;
        border: none;
        width: 1.5em;
        height: 1.5em;
        position: relative;
        margin-right: 1em;
        order: 2;
        z-index: 100;
    }

    header button:focus {
        background-color: var(--hover-link-color);
    }

    header button span {
        /* position: absolute; */
        width: 1.2em;
        height: 0.2em;
        background-color: var(--white-text-color);
        grid-row-start: 1;
        grid-column-start: 1;
        transition-duration: 0.5s;
    }

    header button span:nth-of-type(1) {
        transform: translateY(-0.4em);
    }

    header button span:nth-of-type(3) {
        transform: translateY(0.4em);
    }
    /* animatie werkt niet !VRAAG! */
    header button.kruisje span:nth-of-type(1) {
        transform: rotate(45deg) scaleX(1.25);
    }

    header button.kruisje span:nth-of-type(2) {
        opacity: 0;
        /* transform: scaleX(0); */
    }

    header button.kruisje span:nth-of-type(3) {
        transform: rotate(-45deg) scaleX(1.25);
    }
    /* hamburger menu knop styling END */

    /* tweede child van het parent in het header ("nu bezorgen" linkje) START */
    header > a:nth-of-type(2) {
        /* order: 1; */
        color: var(--white-text-color);
        text-decoration: none;
        font-family: 'chunkfive_printregular', 'sans-serif';
        font-weight: 400;
        text-transform: uppercase;
        width: 7rem;
        text-align: center;
        border-right: 0.125em solid var(--white-text-color);
        padding-right: 1em;
    }

    header > a:nth-of-type(2):hover {
        color: var(--yellow-color);
        /* hier mag nog meer beweging/animatie */
    }
    /* tweede child van het parent in het header ("nu bezorgen" linkje) END */

    /* MAIN */

    /* EERSTE SECTION */
    main section:nth-of-type(1) {
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        margin: 0;
    }

    /* Image's */
    main section:nth-of-type(1) img:nth-of-type(1) {
        width: 100%;
        /*  */
        max-width: 48em;
        height: 100%;
        z-index: 1;
        /* https://css-tricks.com/almanac/properties/o/object-position/ */
        object-position: center top;
        display: block;
    }

    main section:nth-of-type(1) img:nth-of-type(2) {
        /* Om tweede foto weg te maken */
        display: none;
        z-index: 1;
    }

    main section:nth-of-type(1) div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;

        position: absolute;
        left: 15%;
        right: 15%;
        bottom: 10%;
        z-index: 2;
    }

    /* Titel */
    main section:nth-of-type(1) h2 {
        /* positioneren binnen img element */

        font-size: 2em;
        color: var(--white-titel-color);
    }

    /* P element */
    main section:nth-of-type(1) p {
        display: none;
    }

    /* "Lees meer"  knop */
    main section:nth-of-type(1) a {
        background-color: var(--box-button-color);
        color: var(--p-black-color);
        box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 30%);
        /* center text binnen a element */
        display: flex;
        justify-content: center;
        align-items: center;
        /* positioneren binnen img element */

        bottom: 3%;
        /* top: 90%; */
        z-index: 2;

        width: 12em;
        height: 3em;
    }

    main section:nth-of-type(1) a:hover {
        background-color: var(--hover-link-color);
    }

    main section:nth-of-type(1) a:focus {
        background-color: var(--yellow-color);
        color: var(--white-text-color);
    }

    /* TWEEDE SECTION */

    /* section met iconen deel START */
    main section[aria-label='Onze producten, waarden & missie'] {
        display: grid;
        gap: 3em;
        padding: 3em;
        padding-bottom: 4em;
        background-image: url(/images/background-section-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    main section[aria-label='Onze producten, waarden & missie'] article {
        width: 100%;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        column-gap: 1em;
    }

    main section[aria-label='Onze producten, waarden & missie'] article img {
        width: 6em;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: span 3;
        justify-self: end;
    }

    main section[aria-label='Onze producten, waarden & missie'] article h2 {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: start;
        margin: 0;
        color: var(--titel-black-color);
    }

    main section[aria-label='Onze producten, waarden & missie'] article p {
        text-align: start;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0;
        padding: 0;
        color: var(--titel-black-color);
    }

    main section[aria-label='Onze producten, waarden & missie'] article a {
        grid-column-start: 2;
        text-align: start;
        font-size: 1.2em;
        color: var(--blue-link-color);
    }

    main section[aria-label='Onze producten, waarden & missie'] article a:hover {
        color: var(--yellow-color);
    }
    /* section met iconen deel END */

    /* DERDE SECTION */

    /* decoratie image START */
    /* https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html */
    section:nth-of-type(3) {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        top: 0;
        right: 0;
        padding-bottom: 3em;
    }

    section:nth-of-type(3) img:nth-of-type(1) {
        width: 150%;
        height: auto;
        margin: 0;
        position: relative;
        top: 0;
        right: 0;
    }

    section:nth-of-type(3) img:nth-of-type(2) {
        width: 65%;
        height: auto;
        margin: 0;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1em;
    }
    /* decoratie image END */

    /* VIERDE SECTION */

    /* direct child of main gekozen */
    main > section:nth-of-type(4) {
        padding: 0;
        margin: 0;
    }

    main > section:nth-of-type(4) ul {
        padding: 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        gap: 1em;
    }

    main > section:nth-of-type(4) li {
        padding: 1em;
        display: grid;
        grid-template-columns: 14em 1fr;
        grid-template-rows: 18em;
        gap: 1em;
        background-color: var(--box-button-color);
        border-radius: 2%;
        position: relative;
        width: 30em;
    }

    main > section:nth-of-type(4) h2 {
        padding: 1em;
        padding-top: 0;
        font-size: 2em;
    }

    /* Om de gele lijn toe te voegen boven op h2 */
    main > section:nth-of-type(4) h2::before {
        content: ' ';
        display: block;
        position: relative;
        width: 4em;
        border-top: 0.3em solid var(--yellow-color);
        left: calc(50% - 2em);
        right: calc(50% - 2em);
        padding-top: 1em;
    }

    main > section:nth-of-type(4) p {
        font-size: 1.2em;
        margin: 2em;
        margin-top: 1em;
    }

    main > section:nth-of-type(4) h3 {
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
        position: absolute;
        justify-self: center;
        align-self: center;
    }

    main > section:nth-of-type(4) a {
        color: var(--p-black-color);
    }

    main > section:nth-of-type(4) a:hover {
        color: var(--yellow-color);
    }

    main > section:nth-of-type(4) img {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-column-end: 2;
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    /* Vierde section eerste li element hover */
    main > section:nth-of-type(4) li:nth-of-type(1) img {
        transition: 1s;
    }

    main > section:nth-of-type(4) li:nth-of-type(1):hover img {
        width: 110%;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition: 1s;
        align-self: center;
    }

    /* Vierde section tweede li element hover */
    main > section:nth-of-type(4) li:nth-of-type(2) img {
        transition: 1s;
    }

    main > section:nth-of-type(4) li:nth-of-type(2):hover img {
        width: 110%;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition: 1s;
        align-self: center;
    }

    /* Vierde section derde li element hover */
    main > section:nth-of-type(4) li:nth-of-type(3) img {
        transition: 1s;
    }

    main > section:nth-of-type(4) li:nth-of-type(3):hover img {
        width: 110%;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition: 1s;
        align-self: center;
    }

    /* Vierde section vierde li element hover */
    main > section:nth-of-type(4) li:nth-of-type(4) img {
        transition: 1s;
    }

    main > section:nth-of-type(4) li:nth-of-type(4):hover img {
        width: 110%;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition: 1s;
        align-self: center;
    }

    /* Vierde section vijfde li element hover */
    main > section:nth-of-type(4) li:nth-of-type(5) img {
        transition: 1s;
    }

    main > section:nth-of-type(4) li:nth-of-type(5):hover img {
        width: 110%;
        transition-timing-function: ease-in-out;
        transition-duration: 0.25s;
        transition: 1s;
        align-self: center;
    }

    /* VIJFDE SECTION */

    main > section:nth-of-type(5) {
        padding: 0;
        margin: 0;
        background-image: url(/images/vierde-section-background.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: auto;
        height: 100em;
    }

    main > section:nth-of-type(5) h2 {
        padding: 1em;
        margin-top: 1em;
        font-size: 2em;
    }

    /* Om de gele lijn toe te voegen boven op h2 */
    main > section:nth-of-type(5) h2::before {
        content: ' ';
        display: block;
        position: relative;
        width: 4em;
        border-top: 0.3em solid var(--yellow-color);
        left: calc(50% - 2em);
        right: calc(50% - 2em);
        padding-top: 1em;
    }

    main > section:nth-of-type(5) ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        gap: 1em;
    }

    main > section:nth-of-type(5) li {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin: 0.5em;
    }

    main > section:nth-of-type(5) h3 {
        background-color: var(--tweede-box-color);
        padding: 0.5em 2em 1em 2em;

        width: calc(20em - 3em);
        height: 7em;
    }

    main > section:nth-of-type(5) h3 a {
        color: var(--link-color);
    }

    main > section:nth-of-type(5) h3 a:hover {
        color: var(--hover-link-color);
    }

    /* Om de gele lijn toe te voegen boven op h3 */
    main > section:nth-of-type(5) h3::before {
        content: ' ';
        display: block;
        position: relative;
        width: 4em;
        border-top: 0.3em solid var(--yellow-color);
        left: calc(50% - 2em);
        right: calc(50% - 2em);
        padding-top: 1em;
    }

    main > section:nth-of-type(5) img {
        width: 20em;
    }

    /* FOOTER */

    footer {
        background-color: var(--footer-green-color);
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    /* EERSTE SECTION IN FOOTER */
    footer section:nth-of-type(1) {
        display: flex;
        flex-direction: column;

        /* position: absolute; */
        right: calc(50% - 10em);
        left: calc(50% - 10em);

        padding: 0;
        margin: 0;
        width: 20em;

        z-index: 10;
    }

    footer section:nth-of-type(1) h2 {
        padding: 1em;
        padding-top: 2em;

        color: var(--white-titel-color);
    }

    footer section:nth-of-type(1) p {
        padding: 0.5em;
        margin-bottom: 1em;

        color: var(--white-text-color);
    }

    footer section:nth-of-type(1) form {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    footer section:nth-of-type(1) form input[type='text'] {
        background-color: var(--form-color);
        color: var(--footer-black-color);
        border: none;
        padding: 0.8em;
        box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 30%);
    }

    footer section:nth-of-type(1) form input[type='text']:focus {
        outline-style: outset;
        outline-width: 0.5em;
        outline-color: var(--yellow-color);
    }

    footer section:nth-of-type(1) form input[type='submit'] {
        background-color: var(--form-color);
        border: none;
        padding: 0.8em;
        box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 30%);
    }

    footer section:nth-of-type(1) form input[type='submit']:hover {
        background-color: var(--yellow-color);
    }

    footer section:nth-of-type(1) form input[type='submit']:focus {
        background-color: var(--yellow-color);
        color: var(--white-text-color);
    }

    /* TWEEDE SECTION IN FOOTER */
    section[aria-label='sociaal'] {
        display: block;
        justify-content: center;
        /* position: absolute; */
        right: calc(50% - 12em);
        left: calc(50% - 10em);

        padding: 0;
        margin: 0;
        width: 20em;

        z-index: 10;
    }

    section[aria-label='sociaal'] ul {
        display: grid;
        justify-content: center;
        grid-template-columns: 3em 3em 3em;
        grid-template-rows: 1fr;
        gap: 1em;
    }

    section[aria-label='sociaal'] ul li {
        padding-top: 3em;
        padding-bottom: 2em;
    }

    section[aria-label='sociaal'] img {
        width: 3em;
        height: auto;
    }

    section[aria-label='sociaal'] img:hover {
        border: solid 0.175em var(--yellow-color);
        border-radius: 100%;
        border-style: outset;
    }

    /* DERDE SECTION IN FOOTER */
    footer section:nth-of-type(3) {
        z-index: 10;
        padding: 0;
        margin: 0;
    }

    footer section:nth-of-type(3) ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        /* flex-flow: row wrap; */
        justify-content: flex-start;

        background-color: var(--footer-black-color);
        padding: 1em;
    }

    footer section:nth-of-type(3) li {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
    }

    footer section:nth-of-type(3) li a {
        color: var(--white-text-color);
        /* Niet de orginele font maar dit is wat ik kon vinden */
        font-family: 'Annie Use Your Telescope', cursive;
        letter-spacing: 0.05em;
    }

    footer section:nth-of-type(3) li a:hover {
        color: var(--yellow-color);
    }
}

/*****************/
/* MIDDEL SCHERM */
/*****************/

@media (min-width: 37em) {
    /* Logo START */
    header {
        padding-bottom: 1em;
    }
    header > a:nth-of-type(1) {
        margin-right: auto;
        order: -1;
    }

    header > a:nth-of-type(1) img {
        height: auto;
        width: 10em;
    }
    /* Logo END */

    @media (min-width: 48em) {
        /* HEADER */

        /* hamburger menu inside styling START */
        header nav ul li {
            list-style: none;
            text-transform: uppercase;
            display: flex;
            justify-content: space-around;
        }

        header nav ul li a {
            font-family: 'chunkfive_printregular', 'sans-serif';
            color: var(--white-titel-color);

            margin-bottom: 1em;
            font-size: 1.5em;
            flex-wrap: nowrap;
            text-align: center;
        }

        header nav ul li:nth-of-type(1) a {
            margin-top: 7em;
        }
        /* hamburger menu inside styling END */

        /* hamburger menu knop styling START */

        /* Om hamburger menu te openen */
        /* Hulp gekregen van Sanne */
        nav {
            position: fixed;
            inset: 0;
            background-color: var(--blue-link-color);
            transform: translateY(-100%);
            transition: 0.5s;
        }

        header.menuOpen nav {
            transform: translateY(0);
        }
        /* tot hier */

        header button {
            display: grid;
            place-items: center;
            background-color: transparent;
            border: none;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            margin-right: 2em;
            order: 2;
            z-index: 100;
        }

        header button span {
            /* position: absolute; */
            width: 1.2em;
            height: 0.2em;
            background-color: var(--white-text-color);
            grid-row-start: 1;
            grid-column-start: 1;
            transition-duration: 0.5s;
        }

        header button span:nth-of-type(1) {
            transform: translateY(-0.4em);
        }

        header button span:nth-of-type(3) {
            transform: translateY(0.4em);
        }

        header button.kruisje span:nth-of-type(1) {
            transform: rotate(45deg) scaleX(1.25);
        }

        header button.kruisje span:nth-of-type(2) {
            opacity: 0;
            /* transform: scaleX(0); */
        }

        header button.kruisje span:nth-of-type(3) {
            transform: rotate(-45deg) scaleX(1.25);
        }
        /* hamburger menu knop styling END */

        /* tweede child van het parent in het header ("nu bezorgen" linkje) START */
        header > a:nth-of-type(2) {
            /* order: 1; */
            color: var(--white-text-color);
            text-decoration: none;
            font-family: 'chunkfive_printregular', 'sans-serif';
            font-weight: 400;
            font-size: 1.1em;
            text-transform: uppercase;
            width: 10em;
            text-align: center;
            border-right: 0.125em solid var(--white-text-color);
            padding-right: 1em;
        }

        header > a:nth-of-type(2):hover {
            color: var(--yellow-color);
            /* hier mag nog meer beweging/animatie */
        }
        /* tweede child van het parent in het header ("nu bezorgen" linkje) END */

        /* MAIN */

        /* EERSTE SECTION */

        /* Om eerste foto weg te maken */
        main section:nth-of-type(1) img:nth-of-type(1) {
            display: none;
        }

        main section:nth-of-type(1) img:nth-of-type(2) {
            width: 100%;
            /*  */
            min-width: 48em;
            height: 100%;
            display: block;
        }

        main section:nth-of-type(1) {
            background-repeat: no-repeat;
            text-align: center;
            position: relative;
            margin: 0;
        }

        main section:nth-of-type(1) div {
            display: flex;
            flex-direction: column;
            flex-grow: 10;
            align-items: flex-end;
            gap: 1.5em;
            position: absolute;
            right: 5%;
            top: 10%;
            z-index: 2;
        }

        main section:nth-of-type(1) h2 {
            font-size: 2.5em;
            text-align: end;
            color: var(--white-titel-color);

            display: flex;
            justify-content: flex-end;
            align-self: flex-end;

            width: 13em;
        }

        main section:nth-of-type(1) p {
            width: 20em;
            text-align: end;
            color: var(--white-text-color);
            /* nasil oldugunu sor unutma */
            text-shadow: #2c2a29;

            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            font-size: 1em;
        }

        main section:nth-of-type(1) a {
            background-color: var(--box-button-color);
            color: var(--p-black-color);
            /* center text binnen a element */
            display: grid;
            align-items: center;
            align-content: center;
            /* positioneren binnen img element */

            width: 12em;
            height: 3em;
        }

        main section:nth-of-type(1) a:hover {
            background-color: var(--hover-link-color);
        }

        main section:nth-of-type(1) a:focus {
            background-color: var(--yellow-color);
            color: var(--white-text-color);
        }

        /* TWEEDE SECTION */

        /* section met iconen deel START */
        main section[aria-label='Onze producten, waarden & missie'] {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;

            gap: 2em;
            padding: 1em;
            padding-top: 3em;
            padding-bottom: 4em;
            background-image: url(/images/background-section-2.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
        }

        main section[aria-label='Onze producten, waarden & missie'] article {
            display: grid;
            grid-template-rows: 7em 3.5em 6.5em 3.5em;
            align-items: center;
            justify-self: center;
        }

        main section[aria-label='Onze producten, waarden & missie'] article img {
            width: 6em;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: -1;
            grid-row-end: 2;
            justify-self: center;
            align-self: flex-start;
        }

        main section[aria-label='Onze producten, waarden & missie'] article h2 {
            grid-column-start: 1;
            grid-column-end: -1;
            text-align: center;
            margin: 0;
            color: var(--titel-black-color);
            align-self: flex-start;
        }

        main section[aria-label='Onze producten, waarden & missie'] article p {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: -1;
            margin: 0;
            padding: 0;
            color: var(--titel-black-color);
            align-self: flex-start;
        }

        main section[aria-label='Onze producten, waarden & missie'] article a {
            grid-column-start: 1;
            grid-column-end: -1;
            text-align: center;
            font-size: 1.2em;
            color: var(--blue-link-color);
            align-self: flex-start;
        }

        main section[aria-label='Onze producten, waarden & missie'] article a:hover {
            color: var(--yellow-color);
        }
        /* section met iconen deel END */

        /* DERDE SECTION */

        main section:nth-of-type(3) {
            width: 100%;
            height: auto;

            margin: 0;
            padding: 0;
            padding-bottom: 3em;

            position: relative;
        }

        main section:nth-of-type(3) img:nth-of-type(1) {
            width: 100%;
            height: auto;
            display: block;

            position: relative;
        }

        main section:nth-of-type(3) img:nth-of-type(2) {
            width: 45%;
            height: auto;

            position: absolute;
            float: right;
            z-index: 10;
            top: -1em;
        }

        /* VIERDE SECTION */

        /* direct child of main gekozen */
        main > section:nth-of-type(4) {
            padding: 0;
            margin: 0;
        }

        main > section:nth-of-type(4) ul {
            padding: 1em;
            padding-bottom: 1em;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100vw;
            gap: 1em;
        }

        main > section:nth-of-type(4) li {
            padding: 1em;
            display: grid;
            justify-content: center;
            grid-template-columns: 18em;
            grid-template-rows: 3fr 1fr;
            gap: 1em;
            background-color: var(--box-button-color);
            border-radius: 2%;
            position: relative;
        }

        main > section:nth-of-type(4) h2 {
            padding: 1em;
            padding-top: 0;
            font-size: 2em;
        }

        /* Om de gele lijn toe te voegen boven op h2 */
        main > section:nth-of-type(4) h2::before {
            content: ' ';
            display: block;
            position: relative;
            width: 4em;
            border-top: 0.3em solid var(--yellow-color);
            left: calc(50% - 2em);
            right: calc(50% - 2em);
            padding-top: 1em;
        }

        main > section:nth-of-type(4) p {
            font-size: 1.2em;
            margin: 2em;
            margin-top: 1em;
        }

        main > section:nth-of-type(4) h3 {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 2;
            grid-row-end: -1;
            position: absolute;
            justify-self: center;
            align-self: center;
        }

        main > section:nth-of-type(4) a {
            color: var(--p-black-color);
        }

        main > section:nth-of-type(4) a:hover {
            color: var(--yellow-color);
        }

        main > section:nth-of-type(4) img {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-column-end: 2;
            width: 60%;
            align-self: center;
            justify-self: center;

            transition: 1s;
        }

        /* Vierde section eerste li element hover */
        /* main > section:nth-of-type(4) li:nth-of-type(1) img {
                transition: 1s;
            } */

        main > section:nth-of-type(4) li:nth-of-type(1):hover img {
            width: 110%;
            transition-timing-function: ease-in-out;
            transition-duration: 0.25s;
            transition: 1s;
            align-self: center;
        }

        /* Vierde section tweede li element hover */
        main > section:nth-of-type(4) li:nth-of-type(2) img {
            transition: 1s;
        }

        main > section:nth-of-type(4) li:nth-of-type(2):hover img {
            width: 110%;
            transition-timing-function: ease-in-out;
            transition-duration: 0.25s;
            transition: 1s;
            align-self: center;
        }

        /* Vierde section derde li element hover */
        main > section:nth-of-type(4) li:nth-of-type(3) img {
            transition: 1s;
        }

        main > section:nth-of-type(4) li:nth-of-type(3):hover img {
            width: 110%;
            transition-timing-function: ease-in-out;
            transition-duration: 0.25s;
            transition: 1s;
            align-self: center;
        }

        /* Vierde section vierde li element hover */
        main > section:nth-of-type(4) li:nth-of-type(4) img {
            transition: 1s;
        }

        main > section:nth-of-type(4) li:nth-of-type(4):hover img {
            width: 110%;
            transition-timing-function: ease-in-out;
            transition-duration: 0.25s;
            transition: 1s;
            align-self: center;
        }

        /* Vierde section vijfde li element hover */
        main > section:nth-of-type(4) li:nth-of-type(5) img {
            transition: 1s;
        }

        main > section:nth-of-type(4) li:nth-of-type(5):hover img {
            width: 110%;
            transition-timing-function: ease-in-out;
            transition-duration: 0.25s;
            transition: 1s;
            align-self: center;
        }

        /* VIJFDE SECTION */

        main > section:nth-of-type(5) {
            padding: 0;
            margin: 0;
            background-image: url(/images/vierde-section-background.png);
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            width: 100%;
            height: 60em;
        }

        main > section:nth-of-type(5) h2 {
            padding: 1em;
            margin-top: 1em;
            font-size: 2em;
        }

        /* Om de gele lijn toe te voegen boven op h2 */
        main > section:nth-of-type(5) h2::before {
            content: ' ';
            display: block;
            position: relative;
            width: 4em;
            border-top: 0.3em solid var(--yellow-color);
            left: calc(50% - 2em);
            right: calc(50% - 2em);
            padding-top: 1em;
        }

        main > section:nth-of-type(5) ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100vw;
            height: 50vw;
            gap: 3em;
        }

        main > section:nth-of-type(5) li {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            margin: 0.5em;
        }

        main > section:nth-of-type(5) h3 {
            background-color: var(--box-button-color);
            padding: 0.5em 2em 1em 2em;

            width: calc(20em - 3em);
            height: 6.5em;
        }

        main > section:nth-of-type(5) h3 a {
            color: var(--link-color);
        }

        main > section:nth-of-type(5) h3 a:hover {
            color: var(--sticky-header-blue-color);
        }

        /* Om de gele lijn toe te voegen boven op h2 */
        main > section:nth-of-type(5) h3::before {
            content: ' ';
            display: block;
            position: relative;
            width: 4em;
            border-top: 0.3em solid var(--yellow-color);
            left: calc(50% - 2em);
            right: calc(50% - 2em);
            padding-top: 1em;
        }

        main > section:nth-of-type(5) img {
            width: 20em;
        }

        /* FOOTER */

        footer {
            background-color: var(--footer-green-color);
            background-repeat: no-repeat;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        /* EERSTE SECTION IN FOOTER */
        footer section:nth-of-type(1) {
            display: flex;
            flex-direction: column;

            /* position: absolute; */
            right: calc(50% - 10em);
            left: calc(50% - 10em);

            padding: 0;
            margin: 0;
            width: 20em;

            z-index: 10;
        }

        footer section:nth-of-type(1) h2 {
            padding: 1em;
            padding-top: 2em;
            color: var(--white-titel-color);
        }

        footer section:nth-of-type(1) p {
            padding: 1em;
            color: var(--white-text-color);
        }

        footer section:nth-of-type(1) form {
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            justify-content: center;
            align-items: center;
        }

        footer section:nth-of-type(1) form input[type='text'] {
            background-color: var(--form-color);
            border: none;
            padding: 0.8em;
            box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 30%);
            color: var(--footer-black-color);
        }

        footer section:nth-of-type(1) form input[type='text']:focus {
            outline-style: outset;
            outline-width: 0.5em;
            outline-color: var(--yellow-color);
        }

        footer section:nth-of-type(1) form input[type='submit'] {
            background-color: var(--form-color);
            border: none;
            padding: 0.8em;
            box-shadow: 0 0.125em 0.125em rgb(0 0 0 / 30%);
        }

        footer section:nth-of-type(1) form input[type='submit']:focus {
            background-color: var(--hover-link-color);
            color: var(--white-text-color);
        }

        footer section:nth-of-type(1) form input[type='submit']:hover {
            background-color: var(--yellow-color);
        }

        /* TWEEDE SECTION IN FOOTER */
        section[aria-label='sociaal'] {
            display: block;
            justify-content: center;
            /* position: absolute; */
            right: calc(50% - 12em);
            left: calc(50% - 10em);

            padding: 0;
            margin: 0;
            width: 20em;

            z-index: 10;
        }

        section[aria-label='sociaal'] ul {
            display: grid;
            justify-content: center;
            grid-template-columns: 3em 3em 3em;
            grid-template-rows: 1fr;
            gap: 1em;
        }

        section[aria-label='sociaal'] ul li {
            padding-top: 3em;
            padding-bottom: 2em;
        }

        section[aria-label='sociaal'] img {
            width: 3em;
            height: auto;
        }

        section[aria-label='sociaal'] img:hover {
            border: solid 0.175em var(--yellow-color);
            border-radius: 100%;
            border-style: outset;
        }

        /* DERDE SECTION IN FOOTER */
        footer section:nth-of-type(3) {
            z-index: 10;
            padding: 0;
            margin: 0;
        }

        footer section:nth-of-type(3) ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            /* flex-flow: row wrap; */
            justify-content: flex-start;

            background-color: var(--footer-black-color);
            padding: 1em;
        }

        footer section:nth-of-type(3) li {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            padding-right: 3em;
        }

        footer section:nth-of-type(3) li a {
            color: var(--white-text-color);
            /* Niet de orginele font maar dit is wat ik kon vinden */
            font-family: 'Annie Use Your Telescope', cursive;
            font-size: 1.25em;
            letter-spacing: 0.05em;
        }
    }
}
