<main class="errorstatus">

  {{!-- https://codepen.io/honeybadger2788/pen/oNzKzvy --}}
  <section class="err">
    <h1>404</h1>
    <p>PAGE NOT FOUND</p>
    <br>
    <h2>
      <a href="/">BACK TO THE PAST</a>
    </h2>
    <img src="https://assets.codepen.io/5647096/Delorean.png" alt="#">

  </section>



</main>