<main>
    <h1>Account deleted</h1>
    <a href="/"><p>Go back to the homepage</p></a>

    <img src="https://assets.codepen.io/5647096/Delorean.png" class="err" alt="#back to the future car">

</main>