{{! this is a comment}}

<main>

{{> header-hp }}
<section>
<h1 class="welcome">WELCOME!</h1>
<p>Join and discover new friends to play with!</p>
</section>

<button>
    <a href="/sign-up">SIGN UP</a>
</button>
<p>Don't have an account? <a href="/login" class="sign-up">Login<a></p>

</main>