{{! this is a comment}}

<main>

{{> header-hp }}

<h1 id="welcome">WELCOME!</h1>
<p>Join and discover new friends to play with!</p>

<button>SIGN UP</button>
<p>Don't have an account? <a href="/login">Sign up<a></p>

</main>