<main>
    
{{> header-hp }}

<h1>WELCOME</h1>

{{#if messages.error}}
<span>{{messages.error}}</span>
{{/if}}

<form id="login" method="post" action="/login">
    <div>
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="kim34@gmail.com">
    </div>
    <br>

    <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="*****">
    </div>
    <br>

    {{!-- <div class="check">
    <input type="checkbox">
    <span>Remember me</span>
    </div> --}}

    <input class="submit" 
    type="submit" name="log" value="LOG IN">
</form>

 <a href="/sign-up">I don't have an account</a>

</main>