<main>
    
{{> header-hp }}

<h1>WELCOME</h1>

<form id="login" method="#" action="#">
    <div>
    <label for="usernam">Username</label>
    <input type="text" name="usernam" placeholder="Username">
    </div>
    <br>

    <div>
    <label for="pass">Password</label>
    <input type="Password" name="pass" placeholder="Password">
    </div>
    <br>

    <div class="check">
    <input type="checkbox">
    <span>Remember me</span>
    </div>

    <input class="submit"
    type="submit" name="log" value="LOG IN">
</form>

</main>