<main>

{{> header-hp }}

<div class="flex">
<form class="logout" action="/logout" method="POST">
<button type="submit" class="logout">log out</button>
</form>

<form class="delete" action="/delete" method="POST">
<button type="submit" class="delete">delete account</button>
</form>
</div>
{{!-- dynamic part --}}
<ul>
<li>
    <h1>
        Hi 
        {{!-- {{ name }} --}}
        {{#each user}}
            {{this.name}}
        {{/each}}
    </h1>
</li>
</ul>
<section class="scroll">
    {{!-- corroussel met images --}}
    <ul id="game-list"></ul>
</section>

<section>
    <h2>Find a gamer to play with</h2>

    <button>
        <a href="/404">FIND GAMER</a>
    </button>
</section>

    {{!-- got some help from ChatGPT in this part --}}
    <script id="game-template" type="text/x-handlebars-template">
        {{#each gameImages}}
            <li><img src="{{this}}"></li>
        {{/each}}
    </script>

</main>