
{{> header-hp }}

{{!-- dynamische deel gaat komen --}}
<h1>Hi</h1>

<section>
    <h2>Add the games you play</h2>
    {{!-- corroussel met images --}}
    <img src="#" alt="Pubg">
    <img src="#" alt="Minecraft">
    <img src="#" alt="LOL">
    <img src="#" alt="Roblox">
    <img src="#" alt="CSGO">
    <img src="#" alt="Fortnite">
    <img src="#" alt="Grand Theft Auto V">
    <img src="#" alt="Rocket League">
    <img src="#" alt="Valorant">
</section>

<section>
    <h2>Find a gamer to play with</h2>

    <button>FIND GAMER</button>
</section>