<main>
{{> header-hp }}

<h1>CREATE ACCOUNT</h1>

<form id="login" method="#" action="#">
        <label for="nam">Name</label>
        <input type="text" name="nam" placeholder="Full name">
        <br><br>

        <label for="usernam">Glitch Username</label>
        <input type="text" name="usernam" placeholder="Username">
        <br><br>

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">
        <br><br>

        <label for="birthd">Date of birth</label>
        <input type="date" 
        name="birthd" 
        placeholder="Date of birth" 
        value="2000-01-01"
        min="1800-01-01" 
        max="2024-12-31">
        <br><br>

        <label for="pass">Password</label>
        <input type="Password" name="pass" placeholder="Password">
        <br><br>

        <label for="pass">Repeat Password</label>
        <input type="Password" name="re-pass" placeholder="Repeat Password">
        <br><br>

        <input type="checkbox">
        <span>Remember me</span>

        <input type="submit" name="sign" value="SIGN UP">
</form>

</main>