<main>
{{> header-hp }}

<h1>CREATE ACCOUNT</h1>

{{#if messages.error}}
<span>{{messages.error}}</span>
{{/if}}

<form class="sign-up" method="post" action="/sign-up">
        <div>
        <label for="name">Full Name</label>
        <input type="text" class="name" name="name" placeholder="Kim Larrington" required>
        </div>
        <br>

        <div>
        <label for="username">Glitch Username</label>
        <input type="text" class="username" name="username" placeholder="Kim3482" required>
        </div>
        <br>
        
        <div>
        <label for="email">Email</label>
        <input type="email" class="email" name="email" placeholder="mymail@gmail.com" required>
        </div>
        <br>

        {{!-- <label for="birthd">Date of birth</label> --}}
        {{!-- <input type="date" 
        name="birthd" 
        placeholder="Date of birth" 
        value="2000-01-01"
        min="1800-01-01" 
        max="2024-12-31">
        <br><br> --}}

        <div>
        <label for="password">Password</label>
        <input type="password" class="password" name="password" placeholder="*****" required>
        </div>
        <br>

        {{!-- <div>
        <label for="pass">Repeat Password</label>
        <input type="Password" name="re-pass" placeholder="*****">
        </div>
        <br> --}}

        {{!-- <div class="check">
        <input type="checkbox">
        <span>Remember me</span>
        </div> --}}

        <input class="submit"
        type="submit" name="sign" value="SIGN UP">

</form>

 <a href="/login">I already have an account</a>

</main>