/* EVERYTHING */
*,
*::after,
*::before {
    box-sizing: border-box;
    /* backup font*/
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;

    padding: 0;
    margin: 0;
}

/* cursor */
button,
a {
    cursor: pointer;
}

/* CUSTOM PROPERITIES */
:root {
    /* colors */
    --body: var(--little-white);
    --orange: #fb741c;
    --yellow: #ffbe4e;
    --dark-green: #124a36;
    --green: #a5c78d;
    --little-white: #dae2d9;
    --white: #ededed;
    --wit: #ffffff;
    --black: #2e2e2e;
    --err: #db5858d2;
    --err-border: #a52c2c;
    --err-background: #182c1d;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
        --body: #0b3123;
    }
}

/* ALL PAGES */
body {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    padding: 0;
    margin: 0;

    /* color */
    /* back-up for background*/
    background-color: var(--body);

    /* sizes */
    width: 100vw;
    height: 100vh;

    /* background */
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    columns: 1;
    flex-direction: column;
    gap: 1em;

    /* position */
    padding: 1em;
    margin: 0;

    /* color */
    box-shadow: 0.25em -0.25em var(--little-white);
    background: var(--dark-green);

    /* sizes */
    width: 100%;
    height: 100%;
}

section {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* position */
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

/* LOGO */

.logo {
    /* position */
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

/* LINKS */
a {
    /* color */
    color: var(--white);

    /* text */
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
}
p a {
    /* text */
    appearance: none;
    font-family: inherit;
}

p a:hover {
    /* color */
    color: var(--yellow);

    /* text */
    text-decoration: none;
}

p a:active {
    /* color */
    color: var(--orange);
}

/* BUTTON */
button {
    /* position */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    /* color */
    background-color: var(--yellow);
    box-shadow: 0.25em 0.25em var(--orange);
}

button:active {
    /* position */
    transform: translateY(0.25em);
    transform: translateX(0.25em);

    /* color */
    box-shadow: 0.125em 0.125em var(--orange);
}

button a {
    /* color */
    background-color: var(--yellow);
    color: var(--white);
    border: var(--black);

    /* text */
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2em;
    text-decoration: none;
}

.delete {
    background-color: var(--err-border);
}

/* ERROR */
span {
    /* position */
    padding: 0.4em;
    padding-left: 1em;

    /* color */
    background-color: var(--err);

    /* sizes */
    width: 90%;
    height: 3em;

    /* border */
    border: 0.1em solid var(--err-border);
    border-radius: 0.5em;
}

/* h1, h2 .., p */
.welcome,
h1 {
    /* position */
    padding: 0;
    margin: 0;

    /* color */
    color: var(--little-white);

    /* text */
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2.5em;
    inline-size: content;
    text-align: center;
}

p,
h2 {
    /* position */
    padding: 0;
    margin: 0;
    margin-bottom: 1em;

    /* color */
    color: var(--white);

    /* text */
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* FORMS */

details {
/* color */
color: var(--white);
}

details summary {
/* text */
font-size: 12px;
}

details summary::before {
/* content */
content: "important";
}

details[open] {
    font-size: 10px;

}

form {
    /* position */
    width: 80%;
    height: 90%;
    max-width: 20em;
    margin-bottom: .5em;
}

form div {
    /* display */
    display: flex;
    flex-direction: column;
}

label {
    /* color */
    color: var(--white);

    /* text */
    font-size: 0.9em;
}

input {
    /* position */
    padding: 0.5em 0.5em;
    margin: 0.1em 0 0.15em;
    margin-bottom: 1em;


    /* color */
    color: var(--black);
    background-color: transparent;
    background-color: var(--little-white);

    /* sizes */
    width: 100%;
    box-sizing: border-box;

    /* border */
    border: 0.05em solid var(--black);
    border-radius: 0.6em;

    /* text */
    font-size: 1em;
    outline: 0;
}

.submit {
    /* position */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    /* color */
    background-color: var(--yellow);
    box-shadow: 0.25em 0.25em var(--orange);
    color: var(--white);

    /* border */
    border-radius: 0;
    border: var(--black);

    /* text */
    text-decoration: none;
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2em;
}

.submit:active {
    /* position */
    transform: translateY(0.25em);
    transform: translateX(0.25em);

    /* color */
    box-shadow: 0.125em 0.125em var(--orange);
}

.submit:disabled {
    background-color: #2e2e2e;
}


.flex {
    display: flex;
    flex-direction: row;
}

.g-recaptcha {
    margin-bottom: 1em;
}
/* list items */
ul {
    /* display */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    /* row-gap: 0.5em; */
    justify-content: center;

    /* position */
    margin: 0;
    padding: 0;

    /* text */
    list-style: none;
}

.logout,
.delete {
    /* position */
    position: relative;

    /* sizes */
    width: max-content;
    height: max-content;
}

.logout button {
    /* position */
    position: absolute;
    right: -8em;
    top: -2em;
    padding: 0.5em;

    /* color */
    background-color: var(--black);
    color: var(--little-white);
    box-shadow: 0.125em 0.125em var(--err-border);

    /* border */
    border-radius: 0.5em;

    /* text */
    text-decoration: none;
}

.logout button:hover {
    /* position */
    position: absolute;
    right: -8.25em;
    top: -1.75em;

    /* color */
    color: var(--white);
    box-shadow: 0.05em 0.05em var(--err-border);
}

.logout a:active {
    /* position */
    position: absolute;
    right: -8.5em;
    top: -1.5em;

    /* color */
    color: var(--green);
}

.delete button {
    /* position */
    position: absolute;
    right: 1em;
    top: -2em;
    padding: 0.5em;

    /* color */
    background-color: var(--err-border);
    color: var(--white);
    box-shadow: 0.125em 0.125em var(--err-border);

    /* border */
    border-radius: 0.5em;

    /* text */
    text-decoration: none;
}

.delete button:hover {
    /* position */
    position: absolute;
    right: 0.75em;
    top: -1.75em;

    /* color */
    color: var(--white);
    box-shadow: 0.05em 0.05em var(--err-background);
}

.delete a:active {
    /* position */
    position: absolute;
    right: 0.5em;
    top: -1.5em;

    /* color */
    color: var(--green);
}

/* CARROUSSEL */
.scroll {
    /* display */
    overflow-x: scroll;
    flex-wrap: wrap;

    /* sizes */
    height: 60vh;
    width: 70vw;
}

#game-list {
    /* display */
    margin: 1em;
}

/* JAVASCRIPT DISABLED */
.hidden {
    /* sizes */
    margin: 0;
    padding: 0;
}

/* 404 PAGE */
.errorstatus {
    /* sizes */
    width: 100vw;
    height: 100vh;

    /* color */
    /* https://heropatterns.com/ */
    background-color: var(--err-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%233d574b' fill-opacity='0.69'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.err,
.err h1,
.err h2,
.err p,
.err h2 a {
    /* position */
    padding: 0;
    margin: 0;

    /* text */
    font-family: 'VT323', monospace;
}

.err h1 {
    /* color */
    color: var(--green);

    /* text */
    font-size: 10vw;
}

.err h2 a {
    /* color */
    color: var(--green);

    /* text */
    font-size: 10vw;
    text-decoration: none;
}

.err h2 a:hover {
    /* color */
    color: var(--little-white);

    /* text */
    font-size: 11vw;
}

.err h2 a:active {
    /* color */
    color: var(--white);

    /* text */
    font-size: 10vw;
}

.err p {
    /* color */
    color: var(--white);

    /* text */
    font-size: 4vw;
}

.err img {
    /* sizes */
    width: 80vw;
}

.err {
    /* sizes */
    width: 60vw;
}

/* RESPOSIVENESS */
@media (min-width: 37em) {
    body {
        width: 100vw;
        height: 100vh;
    }
    main {
        /* color */
        background: var(--dark-green);

        /* sizes */
        width: 50%;
        height: 90%;
    }

    
    form {
        /* sizes */
        width: 90%;
        height: 90%;
    }
    .scroll {
        /* sizes */
        height: 60vh;
        width: 50vw;
    }
}

@media (min-width: 70em) {
    main {
        /* color */
        background: var(--dark-green);

        /* sizes */
        width: 35em;
        height: 90%;
    }

    form {
        /* sizes */
        width: 20em;
        height: 90%;
    }

    /* 404 page */
    .err h1 {
        /* text */
        font-size: 10em;
    }

    .err h2 {
        /* text */
        font-size: 10em;
    }

    .err p {
        /* text */
        font-size: 3em;
    }

    .err img {
        /* sizes */
        width: 50em;
    }

    .scroll {
        /* sizes */
        height: 60vh;
        width: 40vw;
    }
}
