*,
*::after,
*::before {
    box-sizing: border-box;
    /* backup font*/
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
}

button,
a {
    cursor: pointer;
}

/* Custom properties */
:root {
    /* colors */
    --body: var(--little-white);
    --orange: #fb741c;
    --yellow: #ffbe4e;
    --dark-green: #124a36;
    --green: #a5c78d;
    --little-white: #dae2d9;
    --white: #ededed;
    --wit: #ffffff;
    --black: #2e2e2e;
    --err: #db5858d2;
    --err-border: #a52c2c;
}
/* dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
        --body: #0b3123;
    }
}

/* all pages */
body {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* position */
    padding: 0;
    margin: 0;

    /* color */
    background-color: var(--body);

    /* sizes */
    width: 100vw;
    height: 100vh;
}


main {  
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;

    box-shadow: .25em -.25em var(--little-white);

    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    columns: 1;
    flex-direction: column;
    gap: 1em;
}

section {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* logo */

#logo {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

/* links */
a {
    color: var(--white);
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
}
p a {
    appearance: none;
    font-family: inherit;
    color: var(--green);
}

p a:hover {
    color: var(--yellow);
    text-decoration: none;
}

p a:active {
    color: var(--orange);
}

/* button */
button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    background-color: var(--yellow);
    box-shadow: .25em .25em var(--orange);
}


button:active {
    transform: translateY(.25em);
    transform: translateX(.25em);
    box-shadow: .125em .125em var(--orange);

}

button a {
    background-color: var(--yellow);
    color: var(--white);
    border: var(--black);
    text-decoration: none;

    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2em;
}

/* error */
span {
    width: 90%;
    height: 3em;

    padding: .4em;
    padding-left: 1em;

    background-color: var(--err);
 
    border: .1em solid var(--err-border);
    border-radius: .5em;
}
/* h1, h2 .., p */
#welcome, h1 {
    color: var(--little-white);
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    inline-size: content;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;

    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);

    text-align: center;
}

/* forms */
form {
    width: 80%;
    height: 90%;
    max-width: 20em;

}

form div {
  display: flex;
  flex-direction: column;
}
label {
    font-size: .9em;
    color: var(--white);
}

input {
    padding: .5em .5em;
    margin: .1em 0 .15em;

    background-color: transparent;
    box-sizing: border-box;
    background-color: var(--little-white);
    border: .05em solid var(--black);
    border-radius: .6em;
    width: 100%;
    font-size: 1em;
    color: var(--black);
    outline: 0;
}

.submit {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    border-radius: 0;

    background-color: var(--yellow);
    box-shadow: .25em .25em var(--orange);

    color: var(--white);
    border: var(--black);
    text-decoration: none;

    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2em;
}

.submit:active {
    transform: translateY(.25em);
    transform: translateX(.25em);
    box-shadow: .125em .125em var(--orange);

}

/* list items */
ul {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: .5em;
    justify-content: space-between;
    
}

.logout {
    width: 80%;
    height: max-content;
    position: relative;
}

.logout button {
    position: absolute;
    right: -2em;
    top: -2em;
    padding: .5em;

    border-radius: .5em;

    background-color: var(--black);
    color: var(--little-white);
    box-shadow: .125em .125em var(--err-border);
    text-decoration: none;
}

.logout button:hover {
    position: absolute;
    right: -2.25em;
    top: -1.75em;

    color: var(--white);
    box-shadow: .05em .05em var(--err-border);
}

.logout a:active {
    position: absolute;
    right: -2.5em;
    top: -1.5em;

    color: var(--green);
}


/* remember me */
/* .check {
    color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    margin: 0 0 1em 0;
}

input[type="checkbox"] {
    width: auto;
    margin: 0;
    margin-right: 10px;
} */


/* 404 page */
#errorstatus {
    width: 100vw;
    height: 100vh;

    /* https://heropatterns.com/ */
    background-color: #182c1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%233d574b' fill-opacity='0.69'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

#err h1, 
#err h2,
#err p,
#err h2 a{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

#err h1 {
    font-size: 10vw;
    color: var(--green);
}

#err h2 a {
    font-size: 10vw;
    color: var(--green);
    text-decoration: none;
}

#err h2 a:hover {
    font-size: 11vw;
    color: var(--little-white);
}

#err h2 a:active {
    font-size: 10vw;
    color: var(--white);
}

#err p {
    font-size: 4vw;
    color: var(--white);

}

#err img {
    width: 80vw;
}

@media (min-width: 37em) {
    main {
        width: 50%;
        height: 90%;

        background: var(--dark-green);
    }

    form {
        width: 90%;
        height: 90%;
    }

}

@media (min-width: 70em) {
    main {
        width: 35em;
        height: 90%;

        background: var(--dark-green);
    }

    form {
        width: 20em;
        height: 90%;
    }

    /* 404 page */
    #err h1 {
    font-size: 10em;
    }

    #err h2 {
        font-size: 10em;
    }

    #err p {
        font-size: 3em;
    }

    #err img {
        width: 50em;
    }
}
