*,
*::after,
*::before {
    box-sizing: border-box;
    /* backup font*/
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
}

button,
summary {
    cursor: pointer;
}

/* Custom properties */
:root {
    /* colors */
    --body: var(--little-white);
    --orange: #fb741c;
    --yellow: #ffbe4e;
    --dark-green: #124a36;
    --green: #a5c78d;
    --little-white: #dae2d9;
    --white: #ededed;
    --wit: #ffffff;
    --black: #2e2e2e;
}
/* dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        /* colors */
        --body: #0b3123;
    }
}

/* all pages */
body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
}

main {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;

    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    columns: 1;
    flex-direction: column;
    gap: 1em;
}

section {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* logo */
#logo {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

/* links */
p a {
    appearance: none;
    font-family: inherit;
    color: var(--green);
}

p a:hover {
    color: var(--yellow);
    text-decoration: none;
}

p a:active {
    color: var(--orange);
}

/* button */
button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;

    background-color: var(--yellow);
    box-shadow: .25em .25em var(--orange);
}

button:active {
    transform: translateY(.25em);
    transform: translateX(.25em);
    box-shadow: .125em .125em var(--orange);

}

button a {
    background-color: var(--yellow);
    color: var(--white);
    border: var(--black);
    text-decoration: none;

    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2em;
}

/* h1, h2 .., p */
#welcome {
    color: var(--little-white);
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Sigmar', cursive;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;

    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

@media (min-width: 37em) {
    main {
        width: 50%;
        height: 80%;

        background: var(--dark-green);
    }
}
